<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Send The Feel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Reenie+Beanie&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="w-full">
    <header
        class="sticky z-10 top-0 left-0 w-full px-4 py-4 flex items-center justify-center bg-white border-b border-gray-300">
        <div class="flex items-center justify-between w-full max-w-6xl">
            <div>
                <p class="text-xl lg:text-2xl font-hand">stf</p>
            </div>
            <div class="flex flex-row items-center space-x-5">
                <a href="/submit" class="text-sm text-gray-950">Submit</a>
                <a href="/browse" class="text-sm text-gray-950">Browse</a>
                <a href="/history" class="text-sm text-gray-950">History</a>
                <a href="/support" class="text-sm text-gray-950">Support</a>
            </div>
        </div>
    </header>
    <main class="w-full max-w-6xl space-y-5 mx-auto pt-4 pb-8 sm:pt-8 sm:pb-11 px-4">
        <div class="flex items-center text-center justify-center flex-col max-w-xl w-full mx-auto">
            <div
                class="mb-6 font-hand text-[36px] leading-[40px] text-gray-950 tracking-[-0.025em] sm:mb-7 sm:text-[60px] sm:leading-[56px] max-h-20 sm:max-h-[112px]">
                a bunch of the untold words, sent through the song</div>
            <div
                class="mb-6 font-normal w-fit text-[14px] leading-[22px] text-gray-500 tracking-[-0.005em] sm:mb-7 sm:text-[16px] sm:leading-[24px]">
                Express your untold message through the song.</div>
            <div class="flex flex-col items-center justify-center gap-3 w-full sm:flex-row sm:gap-4"><a href="/submit"
                    class="cursor-pointer inline-flex items-center justify-center gap-2 h-11 px-4 py-2 font-medium text-sm whitespace-nowrap rounded-lg transition-all disabled:pointer-events-none disabled:!text-[#595959] disabled:!border-[#D0D3D9] disabled:!bg-[#D0D3D9] [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-black focus-visible:ring-[1.5px] text-[#FFFFFF] bg-[#171717] w-full sm:w-fit inactive"
                    link=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke="currentColor"
                        stroke-width="2" class="lucide lucide-icon lucide-pencil">
                        <path
                            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                            key="1a8usu"></path>
                        <path d="m15 5 4 4" key="1mk7zo"></path>
                    </svg>Tell Your Story</a><a href="/browse"
                    class="cursor-pointer inline-flex items-center justify-center gap-2 h-11 px-4 py-2 font-medium text-sm whitespace-nowrap rounded-lg transition-all disabled:pointer-events-none disabled:!text-[#595959] disabled:!border-[#D0D3D9] disabled:!bg-[#D0D3D9] [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-black focus-visible:ring-[1.5px] bg-[#FFFFFF] border border-[#171717] text-[#171717] w-full sm:w-fit inactive"
                    link=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke="currentColor"
                        stroke-width="2" class="lucide lucide-icon lucide-search">
                        <path d="m21 21-4.34-4.34" key="14j7rj"></path>
                        <circle cx="11" cy="11" r="8" key="4ej97u"></circle>
                    </svg>Browse the Stories</a></div>
        </div>
        <div class="grid grid-cols-1 gap-4 my-12 sm:my-20 md:grid-cols-2 lg:grid-cols-3 lg:gap-6">
            <article
                class="relative h-full px-5 py-4 space-y-1.5 border border-[#D9D9D9] rounded-lg transition-colors hover:border-[#171717] hover:shadow-sm md:last:col-span-2 md:last:w-full md:px-6 md:py-5 lg:last:col-span-1">
                <p class="font-[600] text-[16px] leading-[24px] text-gray-950">Share your Messages</p>
                <p class="font-[400] text-[14px] leading-[22px] text-gray-600">Choose a song and write a heartfelt
                    message to someone special or save it as a little gift for yourself.</p>
            </article>
            <article
                class="relative h-full px-5 py-4 space-y-1.5 border border-[#D9D9D9] rounded-lg transition-colors hover:border-[#171717] hover:shadow-sm md:last:col-span-2 md:last:w-full md:px-6 md:py-5 lg:last:col-span-1">
                <p class="font-[600] text-[16px] leading-[24px] text-gray-950">Browse Messages</p>
                <p class="font-[400] text-[14px] leading-[22px] text-gray-600">Find messages that were written for you.
                    Search your name and uncover heartfelt messages written just for you.</p>
            </article>
            <article
                class="relative h-full px-5 py-4 space-y-1.5 border border-[#D9D9D9] rounded-lg transition-colors hover:border-[#171717] hover:shadow-sm md:last:col-span-2 md:last:w-full md:px-6 md:py-5 lg:last:col-span-1">
                <p class="font-[600] text-[16px] leading-[24px] text-gray-950">Detail Messages</p>
                <p class="font-[400] text-[14px] leading-[22px] text-gray-600">Tap on any message card to discover the
                    full story behind it and listen to the song that captures the emotion.</p>
            </article>
        </div>
    </main>
    <main
        class="relative flex flex-col items-center justify-center mb-10 overflow-hidden rounded-lg bg-background md:mb-20">
        <div class="group flex overflow-hidden p-2 gap-4">
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction:reverse] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction:reverse] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction:reverse] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction:reverse] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div class="group flex overflow-hidden p-2 gap-4">
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div
                class="flex gap-4 animate-marquee shrink-0 [animation-direction] group-hover:[animation-play-state:paused]">
                <% messages.forEach(message=> { %>
                    <div
                        class="flex flex-col justify-between w-sm h-full border border-[#D9D9D9] rounded-xl overflow-hidden bg-card shadow">
                        <div class="flex flex-col gap-4 w-full h-full p-4 transition-colors duration-200">
                            <div class="flex items-center px-3 bg-gray-100 border border-[#D9D9D9] w-fit rounded-full">
                                <p class="font-[400] text-[11px] text-gray-950">To:</p>&nbsp; <p
                                    class="font-[600] text-[11px] text-gray-950 line-clamp-1">
                                    <%= message.recipient %>
                                </p>
                            </div>
                            <div
                                class="font-hand pb-1.5 justify-self-start text-2xl text-gray-950 sm:text-3xl line-clamp-3">
                                <%= message.content %>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-2 p-4 border-t border-[#D9D9D9] bg-gray-100">
                            <div class="flex items-center gap-2 w-full"><img class="w-[40px] h-[40px] rounded shrink-0"
                                    loading="lazy" decoding="async" src="<%= message.song.image %>"
                                    alt="<%= message.song.name %> by <%= message.song.artist %>">
                                <div class="flex flex-col gap-[1px]">
                                    <p class="font-[600] text-[13px] text-gray-950">
                                        <%= message.song.name %>
                                    </p>
                                    <p class="font-[400] text-[11px] text-gray-700">
                                        <%= message.song.artist %>
                                    </p>
                                </div>
                            </div><a rel="noreferrer noopener" target="_blank" href="<%= message.song.url %>"><img
                                    src="/spotify.svg" alt="Spotify" width="28" height="28"></a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div class="absolute inset-y-0 w-1/5 bg-gradient-to-r from-white pointer-events-none left-0"></div>
        <div class="absolute inset-y-0 w-1/5 bg-gradient-to-l from-white pointer-events-none right-0"></div>
    </main>
    <div class="mt-auto">
        <div class="mx-auto py-8 border-t border-[#D9D9D9] sm:px-6">
            <div class="flex flex-col items-center justify-center space-y-4">
                <div class="flex space-x-6"><a class="text-xs text-gray-950 hover:underline sm:text-sm" target="_blank"
                        rel="noopener noreferrer" href="https://www.instagram.com/ammaricano">Instagram</a>
                    <a class="text-xs text-gray-950 hover:underline sm:text-sm" target="_blank"
                        rel="noopener noreferrer" href="https://wa.me/62895702633030">Send Feedback</a>
                    <a href="/support" class="text-xs text-gray-950 hover:underline sm:text-sm inactive"
                        link="">Support</a>
                </div>
                <div class="text-[10px] text-gray-950 sm:text-xs">© ammaricano. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</body>

</html>
